<!-- app/templates/home/index.html -->

{% extends "../baser.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <center>
                    <h1>Gestionnaire de restaurants</h1>
                    </center>
                    <hr >
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
